$color-textos: white;
$background-tittle: rgba(255, 253, 253, 0.1);
$border-color: rgb(36, 36, 36);
$background-notice: rgba(165, 42, 42, 0.3);
$background-bio: rgb(94, 92, 92);
$font-family-title: 'Trebuchet MS';
$font-family-gral: 'Courier New';
$font-family-cambria:'Cambria'