    /*---------- HTML COMPARTIDO ----------*/
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(21, 10, 66);
    background-size: cover;
}
.titulo
{
    padding-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    background-color: rgba(255, 253, 253, 0.1)
}
a
{
    font-size: 18px;
    color: white;
}
a:hover
{
    background-color: rgba(255, 253, 253, 0.1);
}
nav
{
    display: flex;
    background-color: rgba(255, 253, 253, 0.1);
    border-radius: 30px;
}
nav ul
{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li a
{
    text-decoration: none;
    padding: 20px;
}
.menuflex
{
    width: 100%;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.menuflex li 
{
    display: flex;
}

footer 
{
    background-color:  rgba(0, 0, 0, 0.9);
    margin-top: 200px;
    height: 100px;
}
.grid-fot
{
    display: grid;
    grid-template-areas: 
                        "izq-fot mid-fot der-fot";
    grid-template-columns: 0.4fr 2fr 0.4fr;
}
.izq-fot
{
    grid-area: izq-fot;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:solid rgb(255, 255, 255) 2px ;
}
.der-fot
{
    grid-area: der-fot;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid rgb(255, 255, 255) 2px;
    
}
.mid-fot
{
    grid-area: mid-fot;
    display: flex;
    justify-content: space-evenly;
}
.mid-fot img
{
    width: 100px;
    height: 80px;
    padding-top: 10px;
}
.izq-fot img
{
    width: 60px;
    height: 60px; 
}
.der-fot img
{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 480px)
{
    .tit h1
    {
        font-size: 30px;
    }
    .menuflex a
    {
        font-size: 10px;
    }
    footer
    {
        width: 100%;
        height: 50px;
    }
    .grid-fot
    {
        width: 480px;
        height: 30px;
    }
    .der-fot img
    {
        width: 25px;
        height: 25px;
    }
    .mid-fot img
    {
        width: 30px;
        height: 30px;
    }
    .izq-fot img
    {
        width: 30px;
        height: 30px;
    }
}

/*-----------FIN HTML COMPARTIDO-----------*/

    /*------------- INDEX --------------*/

.tit
{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    background-color: rgba(255, 253, 253, 0.1);
    font-size: 25px;
}
.carrousel-ind img
{
    height: 700px;
}
.messiportada
{ 
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.messiportada img
{
    width: 100%;
    height: 600px;
    border-top: solid rgb(36, 36, 36) 10px;
    border-bottom: solid rgb(36, 36, 36) 10px;
}
.noticia-ind
{
    margin-left: 0px;
    text-align: center;
    width: 100%;
    color: white;
    border-top: solid rgb(36, 36, 36) 10px;
    border-bottom: solid rgb(36, 36, 36) 10px;
    background-color: rgba(255, 253, 253, 0.1);
}
.noticia-ind div
{
    margin-top: 10px;
}
.noticia
{
    background-color: rgba(255, 253, 253, 0.1);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}      
.noticia-ind img
{
    width: 300px;
    height: 300px;
}
.noticia-ind p
{
    margin-top: 5px;
    background-color: rgba(165, 42, 42, 0.3);
    border-radius: 3%;
    font-family: 'Times New Roman', Times, serif;
}
.noticia-ind h2
{
    background-color: rgba(165, 42, 42, 0.3);
    margin-bottom: 5px;
    border-radius: 3%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video-con
{
    margin-top: 40px;
    text-align: center;
}
.text-vid
{
    background-color: rgba(165, 42, 42, 0.3);
    border: solid rgb(36, 36, 36) 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
}
/*------- Media-Query-indx --------*/

@media only screen and (max-width: 768px)
{
    .carousel-item img
    {
        height: 400px;
    }
    .container-fluid img
    {
        width: 100%;
    }
    .text-vid
    {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%; 
    }
    .video-con iframe
    {
        width: 100%;
    }
}

@media only screen and (max-width: 992px)
{
    .carousel-item img
    {
        height: 500px
    }
    .container-fluid img
    {
        width: 100%;
    }
    .text-vid
    {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%; 
    }
}   
                /*---------INDEX FIN--------*/



                /*---------PALMARES---------*/

.palmares-tittle
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 253, 253, 0.1);
    font-size: 45px;
}

.barca
{
    height: 25px;
    background-color: rgba(165, 42, 42, 0.870);
    color: white;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    width: 100%;
}
.palmares
{
    display: grid;
    width: 100%;
    grid-template-areas:
                    "champions laliga copa-rey mundial-club";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.palmares div h3
{
    background-color: none;
    font-size: 20px;
}
.palmares div img
{
    width: 40px;
    height: 40px;
    padding-top: 15;
    padding-bottom: 15px;
}
.palmares div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.palmares p
{
    font-size: 10px;
}
.fcbarcelona
{
    grid-area: fcbarcelona;
}
.champions
{
    grid-area: champions;
}
.laliga
{
    grid-area: laliga;
}
.copa-rey
{
    grid-area: copa-rey;
}
.mundial-club
{
    grid-area: mundial-club;
}
.cont-sup
{
    display: grid;
    width: 50%;
    grid-template-areas: "sup-esp sup-eu";
    grid-template-columns: 0.5fr 0.5fr;
    margin-top: 50px;
}
.cont-sup div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sup-esp
{   
    grid-area: sup-esp;
}
.sup-eu
{
    grid-area: sup-eu;
    left: 55%;
}
.sup-esp p
{
    font-size: 10px;
}
.sup-eu p
{
    font-size: 10px;
}
.psg
{
    text-align: center;
    width: 50%;
    margin-top: 20px;
    display: grid;
    grid-template-areas: "ligue1 tro-champ";
    grid-template-columns: 1fr 1fr;
    color: white;
}
.in-miami
{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 25%;
    margin-top: 20px;
}
.imgpalm
{
    width: 40px;
    height: 40px;
    padding-top: 15;
    padding-bottom: 15px;
}
.arg-grid
{
    width: 100%;
    display: grid;
    grid-template-areas: "cop-am mun-sub medalla-oro mundial";
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.arg-grid p
{
    font-size: 10px;
}
.fin
{
    margin-top: 40px;
}
.prem-in
{
    width: 90%;
    display: grid;
    grid-template-areas: 
                        "bl-oro ff-world th-best bota-oro prem-lau"
                        "pichichi mvp max-gol tr-brav fif-pro"
                        "bl-mun mje gol-boy mvp-am onze-or";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    margin-left: 5%;
}
.prem-in p
{
    margin-bottom: 40px;
    font-size: 10px;
    margin: 0px;
}
.psg p
{
    font-size: 10px;
}
.in-miami p
{
    font-size: 10px;
}
@media only screen and (max-width: 576px)
{
    .barca 
    {
        font-size: 16px;
        height: 14px;
    }
    .arg-grid img
    {
        width: 20px;
        height: 25px;
    }
    .psg img
    {
        width: 20px;
        height: 25px;
    }
    .cont-sup img
    {
        width: 20px;
        height: 25px;
    }
    .palmares div img
    {
        width: 20px;
        height: 25px;
    }
    .in-miami img
    {
        width: 20px;
        height: 25px;
    }
    .prem-in img
    {
        width: 20px;
        height: 25px;
    }
    .palmares div h3
    {
        font-size: 12px;
    }
    .cont-sup h3
    {
        font-size: 12px;
        margin-left: 25px;
    }
    .psg h3
    {
        font-size: 12px;
    }
    .in-miami h3
    {
        font-size: 12px;
    }
    .arg-grid h3
    {
        font-size: 12px;
    }
    .prem-in h3
    {
        font-size: 12px;
    }
    .palmares div p
    {
        font-size: 7px;
    }
    .cont-sup p
    {
        font-size: 7px;
    }
    .prem-in p
    {
        font-size: 7px;
    }
    .psg p
    {
        font-size: 7px;
    }
    .arg-grid p
    {
        font-size: 7px;
    }
    .prem-in p
    {
        font-size: 7px;
    }
}




/*---------FIN PLAMARES---------*/

/*---------BIOGRAFIA---------*/


.tit-biografia
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(255, 253, 253, 0.1);
    font-size: 45px;
}
.cont-bio
{
    width: 100%;
    height: 50%;
    margin-top: 50px;
    
}
.cont-bio img
{
    height: 70%;
    width: 40%;
    position: absolute;
    right: 0%;
    border-radius: 10%;
    margin-right: 50px;
}
.cont-bio h2
{
    text-align: end;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    bottom: 36%;
    position: absolute;
    color: white;
    right: 65%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 92, 92);
    margin-bottom: 10px; 
    padding-right: 5px;   
}
.cont-bio p
{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    height: 20%;
    bottom: 10%;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 22%;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 92, 92);
    border: solid rgb(36, 36, 36) 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inf
{
    width: 60%;
    text-align: start;
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    background-color: rgb(94, 92, 92);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid white 2px;
}
.inf1
{
    width: 70%;
    text-align: end;
    margin-top: 10px;
}
.cont-bio h2:hover
{
    background-color: rgba(165, 42, 42, 0.7);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.barcelona-bio
{
    width: 100%;
    height: 100%;
}
.barcelona-bio img
{
    float: right;
    width: 60%;
    margin-top: 40px;
}
.bar-text-bio
{
    color: white;
    padding: 20px;
    margin-top: 150px;
    position: absolute;
    right: 50%;
    width: 400px;
    height: 350px;
    background-color: rgb(94, 92, 92);
    border: solid rgb(36, 36, 36) 10px;
}
.bar-text-bio h2
{
    width: 100%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(165, 42, 42, 0.7);
    height: 9%;
}
.bar-text-bio p
{
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
.debut-bio
{
    width: 100%;
    height: 100%;

}
.debut-bio img
{
    float: right;
    width: 65%;
    height: 90%;
    opacity: 0.7;
    border-radius: 1%;
}
.deb-text-bio
{
    background-color: rgb(94, 92, 92);
    width: 45%;
    height: 50%;
    position: absolute;
    margin-top: 150px;
    padding-right: 30px;
    color: white;
    border: solid rgb(36, 36, 36) 10px;
}
.deb-text-bio p
{ 
    margin-top: 10px;
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
.de
{
    padding-left: 20px;
    background-color: rgba(165, 42, 42, 0.7);
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    margin-top: 5px;
}
.il
{                                                                                                
    padding-left: 100px;
    padding-top:5px ;
    width: 70%;
}

                                /*----------MEDIA QUERYS---------*/

@media only screen and (max-width: 480px)
{
    .cont-bio 
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cont-bio h2
    {
        position: absolute;
        top: 35%;
        right: 40%;
        height: 40px;
        width: 100%;
    }
    .cont-bio img
    {
        
        width: 400px;
        height: 250px;     
        left: 7%;
    }
    .cont-bio p
    {
        width: 50%;
        text-wrap: wrap;
        font-size: 11px;
    }
    .inf
    {
        font-size: 7px;
        width: 80%;
    }
    .inf1
    {
        font-size: 7px;
        width: 85%;
        padding-right: 20px;
        text-align: center;
    }
    .barcelona-bio
    {
        display: flex;
        flex-direction: column;
    }
    .barcelona-bio img
    {
        width: 100%;
    }
    .bar-text-bio
    {
        width: 300px;
        height: 300px;
        right: 10%;
        opacity: 0.8;
    }
    .bar-text-bio p
    {
        font-size: 13px;
        padding-top: 20px;
    }
    .debut-bio
    {
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .debut-bio img
    {
        width: 100%;
        height: 300px;
    }
    .deb-text-bio
    {
        width: 350px;
        height: 250px;
        position:relative;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 20px;
        opacity: 0.9;
    }
    .deb-text-bio h2
    {
        font-size: 35px;
    }
    .deb-text-bio p
    {
        font-size: 11px;
    }
}   


/*---------FIN BIOGRAFIA---------*/



/*--------FOTOS Y VIDEOS---------*/

.fotosyvideos
{
    display: inline-block; 
    margin-left: 60px;
    margin-top: 5px;  
}
.fotosyvideos img
{
    border: solid;
    border-color: white;
    border-width: 1px;
    width: 400px;
    height: 350px;
}
.titfotos
{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgba(255, 253, 253, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
}
.fotosyvideos img:hover
{
    transform: scale(1.1);
}
.navfotos
{
    margin-left: 60px;
    margin-top: 20px; 
}
.navfotos ul li 
{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20%;
}
.navfotos ul li a
{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.navfotos1
{
    margin-left: 40px;
    margin-top: 20px; 
}
.navfotos1 ul li a
{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.video
{
    display: inline-block;
    margin-top: 10px;
}
.video iframe
{
    border: solid;
    border-color: white;
    border-width: 1px;
    width: 45%;
    margin-left: 40px;   
}
.video iframe:hover
{
    transform: scale(1.1);
}
@media only screen and (max-width: 480px)
{
    .titfotos
    {
        font-size: 30px;
    }
    .navfotos a
    {
        font-size: 10px;
    }
    .fotosyvideos img
    {
        width: 350px;
        height: 350px;
    }
}

/*---------FIN FOTOS VIDEOS---------*/

/*------ESTADISTICAS-------*/
.main-stat
{
    background-image: url(https://i.pinimg.com/564x/10/90/72/1090724280989e4ffc3ad124e3232662.jpg);
    background: cover;
}
.tit-stat 
{
    font-size: 40px;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tit-stat h1
{
    font-size: 40px; 
    font-weight: bold;
}
.stat-total
{
    background-color: rgba(0, 0, 0, 0.486);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 2%;
    color: white;
}
.stat-total-as
{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.486);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 4%;
    color: white;
}
.stat-barca
{
    background-color: rgba(0, 0, 0, 0.486);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 4%;
    color: white;
}
.t-barca
{
    margin-top: 100px;
    color: white;
}
.t-totales
{
    color: white;
}


/*-------NAV BAR BOOTSTRAP-------*/

.navbar
{
    height: 10%;
    display: flex;
    border-radius: 30px;
    padding: 0px;
}
.navbar ul
{
    padding-left: 0;
    box-sizing: content-box;   
}
.navbar li
{  
    height: 62px;
}
.navbar a
{
    padding-bottom: 20px;
    line-height: 22px;
}
.menuflex1 li
{
    height: 64px;
}
